# Supabase Configuration
NNEXT_PUBLIC_SUPABASE_URL=https://ucluupapbdeugsczttek.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjbHV1cGFwYmRldWdzY3p0dGVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjE0NzEsImV4cCI6MjA5MDA5NzQ3MX0.od1gK2vCRhicGYFk2N4uLA3uxYuu4Cw9FRPtisJUxm0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjbHV1cGFwYmRldWdzY3p0dGVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyMTQ3MSwiZXhwIjoyMDkwMDk3NDcxfQ.o2On3C1fEW5ZX1sNVMIG3L7Dr-rf9oopCwpwVUcx5O8
# AI

# OpenAI API Key (Required for AI Ad Generator)
# AI
OPENAI_API_KEY=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


# Get your OpenAI API key from: https://platform.openai.com/api-keys
